# ---------------------------------
# Common aliases
# ---------------------------------

alias home='cd ~'
alias dotfiles='cd ~/dotfiles'
alias proj='cd ~/Projects'
alias aenv='source ./env/bin/activate'

# ---------------------------------
# Git aliases
# ---------------------------------
alias g='git' 
