# ---------------------------------
# Common aliases
# ---------------------------------

alias home='cd ~'
alias dotfiles='cd ~/dotfiles'
alias proj='cd ~/Projects'

# ---------------------------------
# Git aliases
# ---------------------------------
alias g='git' 
