[user]
	email = 42070629+wzrd13@users.noreply.github.com
	name = wzrd13

[credential]
	helper = cache --timeout 3600

[core]
	editor = vim

[color]
	ui = true

[alias]
	i = init
	s = status
	a = add
	c = commit -am
	b = branch
	p = push

	ra = remote add
	po = push origin
	co = checkout
	
	lfancy = log --oneline --decorate --all --graph
	
	
